<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo">Logo</a>
        <ul class="left">
          <li><a href="components.html">Components</a></li>
        </ul>
      </div>
    </nav>
  </div>

{{liquid-outlet}}

{{audio-player track="http://phish.in/audio/000/026/216/26216.mp3"}}
